@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff6b35;
  --color-secondary: #ff8c42;
  --color-accent: #ff9f66;
  --color-dark: #d4461a;
  --color-light: #fff4f0;
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-playfair {
  font-family: 'Playfair', serif;
}